body {
    width: 1440px;
    font-family: 'Space Grotesk', sans-serif;
    
}
::placeholder {
    color: hsl(0, 0%, 100%);
}

input {
    font-family: 'Space Grotesk', sans-serif;
   
}

.background-desktop {
    float: left;
}

.front-card {
    font-family: 'Space Grotesk', sans-serif;
    position: absolute;
    left: 200px;
    top: 200px;
}

.creditCardBox {
    box-sizing: border-box;
    width: 350px;
    height: 300px;
    display: inline-block;
    position: relative;
    top: 340px;
    left: 350px;

}

#cardHolder, #cardNumber {
    width: 344px;
    height: 35px;
    border-radius: 7px;
    border-style: solid;
    border-width: thin;
    border-color: hsl(270, 3%, 87%);
    /*border-color: hsl(278, 94%, 30%); ao ser selecionada */
    margin-top: 7px;
    margin-bottom: 0px;
    cursor: pointer;
}

.cardDate, .cvc {
    display: inline-block;
    
}

#cardYear, #cardMonth {
    width: 70px;
    height: 35px;
    border-radius: 7px;
    border-style: solid;
    border-width: thin;
    border-color: hsl(270, 3%, 87%);
    /*border-color: hsl(278, 94%, 30%); ao ser selecionada */
    margin-top: 7px;
    margin-bottom: 0px;

}

.cvc {
    margin: 0 0 0 15px;
    vertical-align: top;
}

#cardCvc {
    width: 168px;
    height: 35px;
    border-radius: 7px;
    border-style: solid;
    border-width: thin;
    border-color: hsl(270, 3%, 87%);
    /*border-color: hsl(278, 94%, 30%); ao ser selecionada */
    margin-top: 7px;
    margin-bottom: 0px;
}

input[type=submit] {
    display: block;
    margin: 20px auto;
    background-color: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    font-size: medium;
    width: 350px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
}

span {
    font-family: 'Space Grotesk', sans-serif;
    color: hsl(0, 100%, 66%);
    font-size: small;
}

#duplicateCardHolder {
    background: transparent;
    border-style: none;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    position: absolute;
    left: 35px;
    top: 200px;
    
}

#duplicateCardNumber {
    width: 400px;
    background: transparent;
    border-style: none;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    font-size: 27px;
    position: absolute;
    left: 35px;
    top: 140px;
}

#duplicateCardMonth{
    background: transparent;
    border-style: none;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    position: absolute;
    left: 350px;
    top: 200px;
    width: 150px;
    margin: 0;
    padding: 0;
}

/*#duplicateCardYear{
    background: transparent;
    border-style: none;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    position: absolute;
    left: 380px;
    top: 200px;
    width: 40px;
    padding: 0;
    margin: 0;
}*/

.back-card {
    position: absolute;
    left: 270px;
    top: 480px;
}

#duplicateCardCvc {

    background: transparent;
    border-style: none;
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    position: absolute;
    left: 360px;
    top: 112px;
    width: 80px;
    padding: 0;
    margin: 0;
}

